/* Some styles are inspired by Nautilus. */

/* Grid view */
gridview {
  padding: 18px;
  border-spacing: 6px;
}

gridview > child {
  padding: 6px;
  border-radius: 12px;
}

/* Column view */

columnview {
  padding-left: 24px;
  padding-right: 24px;
}

columnview > listview {
  padding-top: 16px;
  padding-bottom: 24px;
  border-spacing: 8px;
}

columnview > listview {
  margin-left: -24px;
  margin-right: -24px;
}

columnview > listview > row {
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 6px;
}

columnview > listview > row > cell {
  padding: 6px;
}

/* Both views */

columnview > listview > row > cell:drop(active),
gridview child:drop(active) {
  box-shadow: none;
}

columnview,
gridview {
  background: none;
}

.thumbnail {
  border-radius: 5px;
  background-color: var(--card-bg-color);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
}

.cover {
  border-radius: 10px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
}

/* Form */

textview.card {
  padding: 16px 15px;
  background-color: var(--card-bg-color);
}

.property.story {
  padding-top: 8px;
  padding-bottom: 8px;
}
